{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock  %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock  %}

{% block content %}
    <div class="about-page">
        <div class="leftAbout">
            <h2>Men haqimda</h2>
            <p> 
                Mening ismim Satya Mallik. Men AI, kompyuter ko‘rish va chuqur o‘rganishni yaxshi ko‘radigan tadbirkorman.
                Yigirma yil muqaddam men g'oyalarni kodga aylantirish uchun kurashgan yangi boshlovchi dasturchi edim. Yaxshilanishga intilib, men o'rganish haqida bir nechta faktlarga qoqilib qoldim.
                Birinchidan, misollarni o'rganish orqali tushunchalarni tezroq o'rganamiz. Bolalikda biz tillarni birinchi navbatda grammatikani tushunish orqali o'rganmaganmiz. Biz atrofimizdagi boshqalarni nusxalash orqali o'rgandik; misollarni o‘rganish orqali bilib oldik.
                Ikkinchidan, hamma noldan boshlaydi, lekin agar biz har kuni yangi narsalarni o'rgansak, juda qisqa vaqt ichida deyarli hamma narsa bo'yicha amaliy bilimlarga ega bo'lish mumkin. Bilim o'ziga asoslanadi; u birikma qoidasi bilan boshqariladi. Asosiysi, har kuni yangi narsalarni o'rganish.
                Uchinchidan, ehtiros kuchli kuchdir. O'zingizning ehtirosingizga ergashish va sizni qiziqtirgan narsalarda yaxshiroq bo'lish juda foydali.
                Nihoyat, qilayotgan ishingizdan zavq olishingiz yoki umuman qilmasligingiz kerak. Ishlayotganingizda hushtak chalishingiz kerak!
                Bu tamoyillar faoliyatim davomida menga yordam berdi.
                I did my Ph.D. at the <a href="https://www.ucsd.edu/">University of California</a>, <a href="https://www.ucsd.edu/">San Diego</a>,
                where I worked on several different vision problems, and published regularly in top vision 
                conferences and journals. However, the work that was most satisfying was a collaboration with <a href="https://www.scripps.edu/">the 
                    The Scripps Research Institute</a> where I provided a solution to a problem in Cryo-Electron 
                Microscopy that eventually became part of their 3D reconstruction pipeline. Research that has real 
                world impact is deeply satisfying.
                Doktorlik dissertatsiyasidan so'ng darhol. Men TAAZ Inc. kompaniyasiga asos solganman - go'zallik 
                va moda muammolariga ko'rish texnologiyasini qo'llaydigan kompyuter ko'rish kompaniyasi! <a href="https://www.godaddy.com/domainsearch/find?domainToCheck=taaz.com&isc=GPPTCOM&itc=parkedpage_landers&key=parkweb&tmskey=dpp_dbs&utm_campaign=x_dom-broker_parkedpages_x_x_invest_001&utm_medium=parkedpages&utm_source=godaddy">
                TAAZ </a> da 
                kompyuterni ko'rish va mashinani o'rganish algoritmlarining kengayishi va mustahkamligi
                mahsulotlarimizni sinab ko'rgan 100 milliondan ortiq foydalanuvchi tomonidan qattiq sinovdan 
                o'tkazildi. Akademik tadqiqotlar olib borish va uni haqiqiy dunyoda ishlashi uchun ajoyib 
                o'rganish tajribasi bo'ldi.
            </p>
            <h2>Bu blog kim uchun?</h2>
            <p>
                Ushbu blog kompyuterni ko'rish va mashinani o'rganishga qiziqqan dasturchilar, xakerlar, muhandislar, 
                olimlar, talabalar va o'zini o'zi boshlaganlar uchun. Bu yangi narsalarni o'rganishga va foydali narsalarni qurishga 
                qichiydigan ijodkorlar uchundir; tinkerlik va qo'llarini iflos qilishni yaxshi ko'radiganlar; o'z ishidan 
                g'ururlanadigan va qalbi hunarmandlar; Har kuni o'z asboblarini charxlash va hunarmandchilikni yaxshilashga 
                ishonadiganlar! Men ushbu o'quv jarayonida katalizator bo'lib xizmat qilaman deb umid qilaman. Mening maqsadim 
                o'quvchilarga Python va C++ tillarida misollar yordamida Kompyuterni ko'rish va Mashina o'rganish 
                tushunchalarini tushunishga yordam beradigan materialni nashr etishdir. Umid qilamanki, siz ushbu blogni foydali, 
                ma'lumotli va qiziqarli deb topasiz.
            </p>
            <h2>Obuna boʻling</h2>
            <p>
                Siz bizning elektron pochta xabarnomamizga obuna bo'lishingiz va bepul <b>Computer Vision Resurs</b> 
                qo'llanmasini olishingiz mumkin. Axborot byulleteni sizga har hafta OpenCV misollari, darsliklar, 
                maslahatlar va fokuslar bilan keladi. Vaqti-vaqti bilan men hafta o'rtalarida elektron pochta 
                xabarlarini yuborishim mumkin, ammo men sizning pochta qutingizni to'ldirmayman deb va'da beraman.
            </p>

            <button class="btn btn-primary p-2"><b> OpenCV o'rganish uchun obuna bo'ling </b></button>
            <h2>Konsulting</h2>
            <p>
                Men <b><a href="https://bigvision.ai/">Big Vision MChJ</a></b> kompaniyam orqali maslahat beraman va agar sizda qiziqarli loyiha bo'lsa yoki kompyuterni 
                ko'rish yoki mashinani o'rganish muammosini hal qilishda yordam kerak bo'lsa, suhbatlashishdan mamnunman.
            </p>
            <h2>Contact</h2>
            <h5>Email: spmallick @ learnopencv.com</h5>
            <h5>Twitter: <a href="#">@learnopencv</a></h5>
            <h5>Linkedin: <a href="#">SatyaMallick</a></h5>
        </div>
        <div class="right-stikcy">
            
        </div>
    </div>
{% endblock %}