{% load static %}

<footer>
    <div class="footer-cover">

        <div class="login">
            
            <h1 class="s-cribe">Subscribe Now</h1>
            <div class="user-info">
                <span>
                    <input type="text" placeholder="ismingiz">
                </span>
                <span>
                    <input type="text" placeholder="emailingiz">
                </span>
            </div>
            <div>
                <img src="{% static 'icons/RightArrow.png' %}" width="20" alt="nayza">
            </div>
        </div>

        <div class="foot-nav">
            <div class="about">
                <h3>OpenCVni o'rganish haqida</h3>
                <p>
                    Ta'lim orqali innovatsiyalarni kuchaytirish, LearnOpenCV AI, Kompyuterni ko'rish va 
                    Deep Learning bo'yicha chuqur o'quv qo'llanmalari, kodlar va qo'llanmalarni taqdim etadi. 
                    Doktor Satya Mallik boshchiligida biz texnologiya yutuqlariga qiziqqan jamiyatni tarbiyalashga 
                    o'zimizni bag'ishlaymiz.
                </p>
                <h3 id="qoshimcha">
                    <a href="#">qo'shimcha ma'lumolar</a>
                </h3>
                
            </div>
            <div class="foot-nav-items">
                <h3>Bepul kurslar</h3>
                <a href="https://opencv.org/university/free-tensorflow-keras-course/?utm_source=lopcv&utm_medium=menu&utm_campaign=tbc">
                    Tensorflow-keras-kursi 
                </a>
                <a href="https://opencv.org/university/free-opencv-course/?utm_source=lopcv&utm_medium=menu&utm_campaign=obc">
                    Bepul opencv kursi
                </a>
                <a href="https://opencv.org/university/python-for-beginners/?utm_source=lopcv&utm_medium=menu&utm_campaign=pbc">
                    Yangi boshlanuvchilar uchun python kursi    
                </a>
            </div>
            <div class="foot-nav-items">
                <h3>Kategoriyalar</h3>
                <a href="https://learnopencv.com/category/deep-learning/">
                    Chuqur o'rganish
                </a>
                <a href="https://learnopencv.com/category/object-detection/">
                    Obyektni aniqlash
                </a>
                <a href="https://learnopencv.com/category/image-classification/">
                    Tasvir tasnifi
                </a>
                <a href="https://learnopencv.com/category/yolo/">
                    YOLO
                </a>
                <a href="https://learnopencv.com/category/image-processing/">
                    Tasvirni qayta ishlash
                </a>
                <a href="https://learnopencv.com/category/image-segmentation/">
                    Tasvirni-sigmentlash
                </a>
            </div>
            <div class="foot-nav-items">
                <h3>Boshlash</h3>
                <a href="https://learnopencv.com/category/install/">
                    O'rnatish
                </a>
                <a href="https://learnopencv.com/getting-started-with-pytorch/">
                    pymash'ala
                </a>
                <a href="https://learnopencv.com/getting-started-with-opencv/">
                    opencv bilan-boshlash
                </a>
                <a href="https://learnopencv.com/getting-started-with-tensorflow-keras/">
                    keras & tensorflow 
                </a>
            </div>
            <div class="foot-nav-items">
                <h3>OpenCV universiteti</h3>
                <a href="https://opencv.org/university/cvdl-master/?utm_medium=footer">
                    CVDL Master Dasturi
                </a>
                <a href="https://opencv.org/university/student-offer-opencv-university/?utm_medium=footer">
                    Talaba uchun chegirma
                </a>
                <a href="https://opencv.org/university/careerx/?utm_medium=footer">
                    Karierani ko'tarish
                </a>
            </div>   
        </div>  

          
            
    </div>
    <div class="underfooter">
        <hr> 
        <div class="underCover">

            <div class="copyright">
                <h3> Copyright &copy;2024 - <b>BIG VISION LLC</b> <u>Privacy-policy Terms and conditions</u>     </h3>
            </div>
            <div class="social-sites">
                <a class="icon" href="#"><img src="{% static 'icons/facebook.png' %}" width="16" alt="rasm"></a>
                <a class="icon" href="#"><img src="{% static 'icons/instagram.png' %}" width="16" alt="rasm"></a>
                <a class="icon" href="#"><img src="{% static 'icons/twitter.png' %}" width="16" alt="rasm"></a>
                <a class="icon" href="#"><img src="{% static 'icons/linkedin.png' %}" width="16" alt="rasm"></a>
                <div class="divUp">
                    <a class="goUp" href="#"><img src="{% static 'icons/Up-arrow.png' %}" width="15" alt="rasm"></a>
                </div>
            </div>
        </div>
    </div>
</footer>