{% load static %}

<footer>
    <div class="footer-cover">

        <div class="login">
            
            <h1 class="s-cribe">Subscribe Now</h1>
            <div class="user-info">
                <span>
                    <input type="text" placeholder="ismingiz">
                </span>
                <span>
                    <input type="text" placeholder="emailingiz">
                </span>
            </div>
            <div>
                <img src="{% static 'icons/RightArrow.png' %}" width="20" alt="nayza">
            </div>
        </div>

        <div class="foot-nav">
            <div class="about">
                <h3>OpenCVni o'rganish haqida</h3>
                <p>
                    Ta'lim orqali innovatsiyalarni kuchaytirish, LearnOpenCV AI, Kompyuterni ko'rish va 
                    Deep Learning bo'yicha chuqur o'quv qo'llanmalari, kodlar va qo'llanmalarni taqdim etadi. 
                    Doktor Satya Mallik boshchiligida biz texnologiya yutuqlariga qiziqqan jamiyatni tarbiyalashga 
                    o'zimizni bag'ishlaymiz.
                </p>
                <a href="#">qo'shimcha ma'lumolar</a>
            </div>
            <div class="foot-nav-items">
                <h3>biror matn</h3>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
            </div>
            <div class="foot-nav-items">
                <h3>biror matn</h3>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
            </div>
            <div class="foot-nav-items">
                <h3>biror matn</h3>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
            </div>
            <div class="foot-nav-items">
                <h3>biror matn</h3>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
                <a href="#">nimadur</a>
            </div>   
        </div>  

          
            
    </div>
    <div class="underfooter">
        <hr> 
        <div class="underCover">

            <div class="text">
                <h3>
                    Compyright &copy;2024 - <b>BIG VISION LLC</b> Privacy-policy Terms and conditions
                </h3>
            </div>
            <div class="social-sites">
                <a class="icon" href="#"><img src="{% static 'icons/facebook.png' %}" width="16" alt="rasm"></a>
                <a class="icon" href="#"><img src="{% static 'icons/instagram.png' %}" width="16" alt="rasm"></a>
                <a class="icon" href="#"><img src="{% static 'icons/twitter.png' %}" width="16" alt="rasm"></a>
                <a class="icon" href="#"><img src="{% static 'icons/linkedin.png' %}" width="16" alt="rasm"></a>
                <div class="divUp">
                    <a class="goUp" href="#"><img src="{% static 'icons/Up-arrow.png' %}" width="15" alt="rasm"></a>
                </div>
            </div>
        </div>
    </div>
</footer>a