{% load static %}

<footer>
    <div class="footer-cover">

        <div class="login">
            
            <h1 class="s-cribe">Subscribe Now</h1>
            <div class="user-info">
                <span>
                    <input type="text" placeholder="Your Name">
                </span>
                <span>
                    <input type="text" placeholder="Your e-mail">
                </span>
            </div>
            <div>
                <img src="{% static 'icons/RightArrow.png' %}" width="20" alt="nayza">
            </div>
        </div>

        <div class="foot-nav">
            <div class="about">
                <h3>OpenCVni o'rganish haqida</h3>
                <p>
                    Ta'lim orqali innovatsiyalarni kuchaytirish, LearnOpenCV AI, Kompyuterni ko'rish va 
                    Deep Learning bo'yicha chuqur o'quv qo'llanmalari, kodlar va qo'llanmalarni taqdim etadi. 
                    Doktor Satya Mallik boshchiligida biz texnologiya yutuqlariga qiziqqan jamiyatni tarbiyalashga 
                    o'zimizni bag'ishlaymiz.
                </p>
                <a href="#">qo'shimcha ma'lumolar</a>
            </div>
            <div>
                <li><h3>Biror-matn</h3></li>
                <li>nimadur</li>
                <li>nimadur</li>
                <li>nimadur</li>
            </div>
            <div>
                <li><h3>Biror-matn</h3></li>
                <li>nimadur</li>
                <li>nimadur</li>
                <li>nimadur</li>
            </div>
            <div>
                <li><h3>Biror-matn</h3></li>
                <li>nimadur</li>
                <li>nimadur</li>
                <li>nimadur</li>
            </div>
            <div>
                <li><h3>Biror-matn</h3></li>
                <li>nimadur</li>
                <li>nimadur</li>
                <li>nimadur</li>
            </div>
        </div>

    </div>
</footer>