
{% load static %}

<header>
    <nav>
        <div class="logo-cover">
            <img class="logo" src="{% static 'icons/UniverLogo.png' %}" width="200" alt="">
        </div>
        <div class="middle">

            <div class="anchors">
                <a href="{% url 'myapp' %}">Bosh sahifa</a>
                <div class="drop1">
                    <a class="downer" href="https://learnopencv.com/category/install/">
                        Boshlash
                        <img src="{% static 'icons/burchak.png' %}" width="10" alt="">
                    </a>
                    <div class="down">
                        <li><a href="https://learnopencv.com/category/install/">O'rnatish</a></li>
                        <li><a href="https://learnopencv.com/getting-started-with-opencv/">opencv bilan-boshlash</a></li>
                        <li><a href="https://learnopencv.com/getting-started-with-pytorch/">pymash'ala</a></li>
                        <li><a href="https://learnopencv.com/getting-started-with-tensorflow-keras/">tensorflow va keras</a></li>
                    </div>
                </div>
                <div class="drop2">
                    <a class="univer" class="downer" href="#">
                        OpenCV Universiti
                        <img src="{% static 'icons/burchak.png' %}" width="10" alt="">
                    </a>
                    <div class="down">
                        <li><a href="#">link1</a></li>
                        <li><a href="#">link2</a></li>
                        <li><a href="#">Python bilan OpenCv ni o'zlashtirish</a></li>
                        <li><a href="#">link4</a></li>
                        <li><a href="#">link5</a></li>
                        <li><a href="#">link6</a></li>
                        <li><a href="#">link7</a></li>
                        <li><a href="#">link8</a></li>
                    </div>
                </div>
                <div class="drop3">
                    <a class="downer" href="#">
                        bepul kurslar
                        <img src="{% static 'icons/burchak.png' %}" width="10" alt="">
                    </a>
                    <div class="down">
                        <li><a href="https://opencv.org/university/free-tensorflow-keras-course/?utm_source=lopcv&utm_medium=menu&utm_campaign=tbc">
                            Tensorflow-keras-kursi 
                        </a></li>
                        <li><a href="https://opencv.org/university/free-opencv-course/?utm_source=lopcv&utm_medium=menu&utm_campaign=obc">
                            bepul opencv kursi
                        </a></li>
                        <li><a href="https://opencv.org/university/python-for-beginners/?utm_source=lopcv&utm_medium=menu&utm_campaign=pbc">
                            yangi boshlanuvchilar uchun python kursi    
                        </a></li>
                    </div>
                </div>
                <a href="#">AI konsulting</a>
                <a href="{% url 'about' %}">About</a>
                
            </div>
            
            <div class="youtube">
                <a href="https://www.youtube.com/c/LearnOpenCV">
                    <img  src="{% static 'icons/youtube.png' %}" width="27"  alt="rasm">
                </a>
            </div>
        </div>
        <span class="searcher-window">
            <span class="inp-wrapper">
                <input class="search-inp" type="search" placeholder="Search...">
                <img class="s-lupa" src="{% static 'icons/lupaOq.png' %}" width="25" height="25"  alt="">
            </span>
        </span>
        <div class="search">
            <img  class="lupa" src="{% static 'icons/lupaOq.png' %}" width="25" height="25"  alt="">
            <span class="searchCloser">&times;</span>
        </div>
        
    </nav>
</header>

<script>
    const lupa = document.querySelector('.lupa')
    const closer = document.querySelector(".searchCloser")
    const searchWindow = document.querySelector(".searcher-window")
    const searchInp = document.querySelector(".inp-wrapper")

    lupa.addEventListener('click', searchRunner)
    closer.addEventListener('click', close)
    searchWindow.addEventListener('click', handleClickOutside)
    searchInp.style.transition = 'top 1s ease-out 0.5s';
   

    function searchRunner(){
        closer.style.opacity = '1'
        closer.style.top = '1em';
        searchWindow.style.opacity = '1'
        searchWindow.style.width = '100%';
        searchWindow.style.height = '100%';
        searchWindow.style.borderRadius = '0'
        searchInp.style.top = '18rem'
    }
    
    function close(){
        closer.style.opacity = '0'
        closer.style.top = '-2em';
        searchWindow.style.opacity = '0'
        searchWindow.style.width = '0%';
        searchWindow.style.height = '0%';
        searchWindow.style.borderRadius = '50%'
        searchInp.style.top = '-18rem'
    }

    function handleClickOutside(event) {
        if (!searchInp.contains(event.target)) {
            close();
        }
    }
</script>
