
.footer-cover {
    width: 90%;
    margin: auto;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}

.user-info {
    display: flex;
    justify-content: space-between;
    width: 35.5rem;
}

.s-cribe {
    font-family: Arial, Helvetica, sans-serif;
    color: snow;
}

.user-info span {
    border-bottom: 3px solid gray;
    width: 49%;
}

input{
    border: none;
    outline: none;
    width: 15rem;
    padding: 5px 20px;
    font-size: 20px;
    background-color: transparent;
    color: snow;
}
input::placeholder{
    color: gray;
}

.foot-nav {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 3rem;
    color: snow;
}

.foot-nav-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a{
    text-decoration: none;
    color: snow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.foot-nav-items a:hover{
    color: blue;
}

.underfooter {
    width: 98%;
    margin: auto;
    color: snow;
}

.underCover{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.about{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

h3{
    padding: 20px 0;
}

#qoshimcha {
    display: inline-block;
    margin: 20px 0;
    padding: 3px;
    border-bottom: 1px solid snow;
}
#qoshimcha:hover{
    border-bottom: 1px solid blue;
}

#qoshimcha a {
    font-size: 20px;
}

.social-sites{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon{
    margin-left: 10px;
}

.copyright h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
