
.footer-cover {
    width: 90%;
    margin: auto;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}

.user-info {
    display: flex;
    justify-content: space-between;
    width: 35.5rem;
}

.s-cribe {
    font-family: Arial, Helvetica, sans-serif;
    color: snow;
}

.user-info span {
    border-bottom: 3px solid gray;

}

input{
    border: none;
    outline: none;
    width: 15rem;
    padding: 5px 20px;
    font-size: 20px;
    background-color: transparent;
    color: snow;
}
input::placeholder{
    color: gray;
}

.foot-nav {
    display: flex;
    justify-content: space-between;

    color: snow;
}

