header{
    width: 100%;
    background-color: #222;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    width: 80%;
    margin: auto;
}

nav a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: snow;
}

.logo{
    padding-top: 25px;
}
.anchors a{
    padding: 20px 15px;
    font-size: 13px;
}
.anchors a:hover{
    color: rgb(168, 167, 167);
}

.middle, .search{
    display: flex;
    justify-content: center;
    align-items: center;
}
